
@{
    ViewBag.Title = "Info";
}

<div class="container">
    <h2 class="text-center">This is servise for separation words.</h2>

    <h5 class="text-center">You can call support 11-11-111</h5>

    @Html.ActionLink("Separator", "EnterText", "SlogSeparator")
    @Html.ActionLink("Home", "Index", "Home")
</div>